<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Información del Empleado</h5>
        <p class="card-text">Nombre del empleado: <span class="font-weight-bold">{{nombre}}</span></p>
        <p class="card-text">Apellido del empleado: <span class="font-weight-bold">{{apellidos}}</span></p>
        <p class="card-text">Edad del empleado: <span class="font-weight-bold">{{getEdad()}}</span></p>
        <!--<p>empresa : {{empresa.value}}</p>-->
        <p class="card-text">Empresa: <span class="font-weight-bold">{{empresa}}</span></p>
        
        <div class="form-group">
          <label for="empresa">Introduce la empresa:</label>
          <input type="text" id="empresa" [(ngModel)]="empresa" class="form-control"><!--binding bidireccional hay que cargarlo antes en app.module-->
        </div>
        <br/>
        <button class="btn btn-primary" (click)="llamaEmpresa(empresa)">Dale</button>
        <br/>
        <br/>
        <p>{{textoDeRegistro}}</p>
        <div class="form-check">
          <input type="radio" class="form-check-input" value="si" name="nRegistro" id="registro" (click)="setUsuarioRegistrado($event)">
          <label for="registro" class="form-check-label">Registrado</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" value="no" name="nRegistro" (click)="setUsuarioRegistrado($event)">
          <label class="form-check-label">No Registrado</label>
        </div>
        <p>{{getRegistroUsuario()}}</p>
      </div>
    </div>
  </div>
  