<h1>Pruebas en Angular</h1>
<nav>
  <a [routerLink]="['/']">Home</a>&nbsp;
  <a [routerLink]="['/peliculas']">peliculas</a>&nbsp;
  <a [routerLink]="['/zapatillas']">zapatillas</a>&nbsp;
  <a [routerLink]="['/cursos']">cursos</a>&nbsp;
</nav>
<p>Esto viene de app component</p>
<button (click)="toggleLibros()">
  {{ mostrarLibros ? 'Ocultar Libros' : 'Mostrar Libros' }}
</button>
<button (click)="togglePeliculas()">
  {{ mostrarPeliculas ? 'Ocultar Películas' : 'Mostrar Películas' }}
</button>

<app-libros *ngIf="mostrarLibros"></app-libros>
<app-peliculas *ngIf="mostrarPeliculas"></app-peliculas>
<router-outlet></router-outlet>
